<app-navbar></app-navbar>
<div class="filterview" [ngStyle] ="checking()">
   <div class="row">
      <div class="col-3">
         <svg aria-hidden="true" focusable="false" role="presentation" id="clearfixid" (click)="closeFilterview()"
            viewBox="0 0 24 24">
            <path d="M19.583 4.965a.65.65 0 0 1-.176.449l-6.445 6.426 6.445 
               6.426c.117.131.176.28.176.449a.65.65 0 0 1-.176.449.846.846 0 0 1-.215.127.596.596 0 0 
               1-.468 0 .846.846 0 0 1-.215-.127l-6.426-6.445-6.426 6.445a.846.846 0 0 1-.215.127.596.596
               0 0 1-.468 0 .846.846 0 0 1-.215-.127.65.65 0 0 1-.176-.449c0-.169.059-.318.176-.449l6.445-6.426-6.445-6.426a.65.65 
               0 0 1-.176-.449c0-.169.059-.318.176-.449a.652.652 0 0 1 .449-.176c.169 0 .319.059.449.176l6.426 6.445 6.426-6.445a.652.652 
               0 0 1 .449-.176c.169 0 .319.059.449.176.117.13.176.28.176.449z"></path>
         </svg>
      </div>
      <div class="col-9">
         <div class="d-flex justify-content-start " style="margin: 0%;align-self:center">
            <h3>FILTER</h3>
         </div>
      </div>
   </div>
   <div class="row">
     <div class="col-3"></div>
     <div class="col-9">
       <h6>
      COLOR
     </h6>
    </div>
   </div>
   <div class="row">
     <div class="container colorcontainer">
      <i class="fa fa-circle" style="color: red;"> <span style="height: 10px;color: Black;">
        Red
      </span>
        </i>
        <br>
        <i class="fa fa-circle" style="color: green;"> <span style="height: 10px;color: Black;">
          green
        </span>
          </i>
          <br>
          <i class="fa fa-circle" style="color: black;"> <span style="height: 10px;color: Black;">
            black
          </span>
            </i>        <br>

            <i class="fa fa-circle" style="color: yellow;"> <span style="height: 10px;color: Black;">
              yellow
            </span>
              </i>        <br>

              <i class="fa fa-circle" style="color: grey;"> <span style="height: 10px; color: Black;">
                grey
              </span>
                </i>

     </div>
   </div>

   <div class="row">
      <div class="col-3"></div>
      <div class="col-9">
        <h6>
       SIZE
      </h6>
     </div>
    </div>
    <div class="row">
      <div class="container colorcontainer">
         <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
         <label class="form-check-label" for="flexCheckChecked">
            S
         </label>
         <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
         <label class="form-check-label" for="flexCheckChecked">
            M
         </label>
         <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
         <label class="form-check-label" for="flexCheckChecked">
            L
         </label>
         <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
         <label class="form-check-label" for="flexCheckChecked">
            XL
         </label>
         
 
      </div>
    </div>

    <div class="row">
      <div class="col-3"></div>
      <div class="col-9">
        <h6>
       PRICE
      </h6>
     </div>
    </div>
    <div class="row">
      <div class="container colorcontainer">
         
         
 
         
      </div>
    </div>


</div>
<!--
  ==================================================================
  main
  ==================================================================
 -->
<div class="container main">
   <div class="row filterbar">
      <div class="col-4">
         <div class="ref mr-auto">
            <div class="d-flex justify-content-start">
               <ul>
                  <li class="align-self-center">
                     <a>
                        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-theme-084" (click)="openFilterview()"viewBox="0 0 24 24">
                           <path d="M19.292 1.871c.169 0 .315.063.439.186a.601.601 0 0 1 .186.439v2.5a.657.657 0 0 1-.039.225.499.499 0 0 1-.117.186l-5.469 6.074v6.641a.582.582 0 0 1-.078.293.823.823 0 
                              0 1-.195.234l-3.75 2.5c-.052.026-.107.049-.166.068a.603.603 0
                              0 1-.479-.05c-.104-.052-.186-.127-.244-.225s-.088-.205-.088-.322v-9.14L3.823 5.406a.491.491 0 0
                              1-.117-.186.648.648 0 0 1-.039-.224v-2.5a.6.6 0 0 1 .186-.439.604.604 0 0 1 .439-.186h15zm-.625
                              2.89v-1.64H4.917v1.641l5.469 6.074a.507.507 0 0 1 .117.186.653.653 0 0 1 
                              .039.225v8.203l2.5-1.66v-6.543c0-.078.013-.152.039-.225a.515.515 0 0 1 .117-.186l5.469-6.075z"></path>
                        </svg>
                     </a>
                  </li>
                  <li class="align-self-center">
                     REFINE BY
                  </li>
               </ul>
            </div>
         </div>
      </div>
      <div class="col-3"></div>
      <div class="col-5 ml-auto">
         <div class="d-flex justify-content-end">
            <label for="SortBy" class="mb-0">SORT BY:  </label>
            <select name="sort_by" class="p-0 pr-10 pr-lg-25 mb-0 border-0 cursor-pointer" id="SortBy">
               <option value="manual">Featured</option>
               <option value="best-selling">Best Selling</option>
               <option value="price-ascending"> Price Ascending</option>
               <option value="price-descending">Price Descending</option>
               <option value="created-ascending">Date Ascending</option>
               <option value="created-descending" selected="">Date Descending</option>
               <option value="title-ascending">Name Ascending</option>
               <option value="title-descending">Name Descending</option>
            </select>
            <label for="ViewLength" class="mb-0 mr-1">ITEMS PER PAGE:</label>
            <select name="view_length"  id="ViewLength">
               <option value="6">6</option>
               <option value="12" selected="">12</option>
               <option value="18">18</option>
               <option value="24">24</option>
               <option value="48">48</option>
            </select>
         </div>
      </div>
   </div>
   <div class="container">
      <div class="row">
         <div *ngFor="let trendproduct of trendproductList"class="col-lg-3 col-md-4 col-sm-6">
            <div class="product-grid7">
               <div class="product-image7">
                  <a href="#">
                  <img class="pic-1" src="{{ trendproduct.productImg1 }}">
                  <img class="pic-2" src="{{ trendproduct.productImg2 }}">
                  </a>
                  <ul class="social">
                     <li><a  class="fa fa-search"></a></li>
                     <li><a href="" class="far fa-heart"></a></li>
                     <li><a  (click) = "addcart()" class="fa fa-shopping-cart"></a></li>
                  </ul>
                  <span class="product-new-label">{{trendproduct.productlabel}}</span>
               </div>
               <div class="product-content">
                  <h3 class="title"><a href="#"> {{trendproduct.productName}}</a></h3>
                  <ul class="rating">
                     <li class="fa fa-star"></li>
                     <li class="fa fa-star"></li>
                     <li class="fa fa-star"></li>
                     <li class="fa fa-star"></li>
                     <li class="fa fa-star"></li>
                  </ul>
                  <div class="price">{{trendproduct.productPrice}}
                     <span>{{trendproduct.strickPrice}}</span>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<button (click)="closeFilterview()">open </button>