<app-navbar></app-navbar>
<form [formGroup]="loginForm">
<div class="container">
	<div class="row">
		 <h1 style="color: white;"><i class="fa fa-lock" aria-hidden="true" style="color: white;"></i> Login</h1>
    
        </div><br /><br />
		
                	<div class="input-group">
						
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="fas fa-user-tie"></i></span>
								</div>
								
								<input type="text" formControlName="username" name="username" class="form-control" placeholder="username or email"/>
							</div>
							<div *ngIf="(isSubmitted && loginControls.username.errors)" class="errorclass">*Please Enter Valid Email</div>
							<br />
                	<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="fa fa-key icon"></i></span>
								</div>
									<input type="Password"  name="password" formControlName="password" class="form-control" placeholder="password"/>
							</div>
							<div *ngIf="(isSubmitted && loginControls.password.errors)"  class="errorclass">*Please Enter Password</div><br /><br />
        <button style="width: 250px;" type="submit" class="btn btn-info" (click)="login(loginForm)">Login </button><br />
               <br /> <div style="border:1px solid black;height:1px;width:350px;"></div><br />
        <div class="footer">
                  <p>Don't have an Account! <a routerLink="/register" >Sign Up Here</a></p>
          <p>Forgot <a href="#">Password?</a></p>
        </div>
 
	</div>
</form>