.myclass {
    font-weight : 500px;
    font-size: 4rem;
    color: white;
}
.navclass{
    background-color: black;
    height: 60px;
    color: white;
}

img{
    padding-right: 2%;
    background-color: white;
    height: 30px;
}

svg{
    height : 30px;
    fill: #fff;
}
.navclass a{
    color: white;
   
}


.badge {
    padding-left: 5px;
    padding-right: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  

  #lblCartCount {
      font-size: 15px;
      background: #ff0000;
      color: #fff;
      padding: 0 5px;
      vertical-align: top;
      margin-left: -15px; 
      margin-bottom: 30px;
      margin-top: 0%;
      margin-top : -10px;
      border-radius: 50%;
  }

  .myicon{
      padding-left: 2%;
      padding-right: 5%;
      cursor : pointer;
  }



.dropmenuclass{
    position: relative;
}

.card{
    position: absolute;
    background-color: black;
    margin-left: -70%;
    display: none;
    margin-top: 50%;
    z-index: -1000px;
}


.dropmenuclass1{
    position: relative;
}

.card1{
    position: absolute;
    background-color: black;
    margin-left: -70%;
    display: none;
    margin-top: 26%;
    z-index: -1000px;
    border-radius: 1%;
    
}

.list-group {
    background-color: black;
}
.list-group-item{
    color : black;
 
}
.menubuttin{
    display: none;
}
 

  

.sidebar-nav{
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.3s; 
  overflow-y: auto;
  }

  .sidebar-nav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  .sidebar-nav .closebtn{
    position: absolute;
	height: 50px;
	width: 50px;
    right:0;
    padding-top: 0%;
    margin-right: 15px;
	top:0;
	font-size: 32px;
	color:#dddddd;
	text-align: center;
	cursor: pointer;
  }
  .opencl{
    width : 200px;
    transition : all 0.1s ease 0.2s;
   }

   .closecl{
    width : 0px;
    transition : all 0.1s ease 0.2s;
   }


   .mymenubutton{
    background-color: transparent;
     color: white;
   }

   .nav-overlay{
	position: fixed;
	left:0;
	top:0;
	z-index: 499;
	background-color: rgba(0,0,0,0.5);
	height: 100%;
	width: 100%;
	transform: translateX(-100%);
}
.nav-overlay.open{
    transform: translateX(0%);	
    transition : all 0.1s ease 0.2s;
   
}


@media screen and (max-width : 992px){
    .headnav{
        display: none;
    }

    /*side nav button*/
    .menubuttin{
        display: block;
    }
  }

