<div class="p">
    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide> 
            <div class="bannerc">
                <img src="assets\images\slide-01.jpg"></div>
            </ng-template>  
        <ng-template carouselSlide>
            <div class="bannerc">
                <img src="assets\images\slide-02.jpg">
            </div>
        </ng-template>  
        <ng-template carouselSlide><div class="bannerc">
            <img src="assets\images\slide-03.jpg"></div>
        </ng-template>  
        <ng-template carouselSlide><div class="bannerc">
            <img src="assets\images\slide-04.jpg"></div>
        </ng-template>  
      </owl-carousel-o>
</div>

