<app-navbar></app-navbar>
<div class="p">
    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide> 
         <div class="container-fluid bannerc">
             <section class="hero hero1 pb-3 bg-cover bg-center d-flex align-items-center">
                 <div class="container py-5">
                   <div class="row px-4 px-lg-5">
                     <div class="col-lg-6">
                       <p class="text-muted small text-uppercase mb-2">New Inspiration 2020</p>
                       <h1 class="h2 text-uppercase mb-3">20% off on new season</h1><a class="btn btn-dark" href="/products">Browse collections</a>
                     </div>
                   </div>
                 </div>
               </section>
            </div>
 
            </ng-template>  
        <ng-template carouselSlide>
            <div class="container-fluid bannerc">
             <section class="hero hero2 pb-3 bg-cover bg-center d-flex align-items-center">
                 <div class="container py-5">
                   <div class="row px-4 px-lg-5">
                     <div class="col-lg-4">
                       <p class="text-muted small text-uppercase mb-2">New Inspiration 2020</p>
                       <h1 class="h2 text-uppercase mb-3">20% off on new season</h1><a class="btn btn-dark" href="/products">Browse collections</a>
                     </div>
                   </div>
                 </div>
               </section>
            </div>
        </ng-template>   
      </owl-carousel-o> 
      
</div>




<!--
    Browse our categories
-->
<div class="container pt-5">
    <header class="text-center">
      <p class="small text-muted small text-uppercase mb-1">Carefully created collections</p>
      <h2 class="h5 text-uppercase mb-4">Browse our categories</h2>
    </header>
    <div class="row">
      <div class="col-md-4 mb-4 mb-md-0"><a class="category-item" href="shop.html"><img class="img-fluid" src="assets\images\cat-img-1.jpg" alt=""><strong class="category-item-title">Clothes</strong></a></div>
      <div class="col-md-4 mb-4 mb-md-0"><a class="category-item mb-4" href="shop.html"><img class="img-fluid" src="assets\images\cat-img-2.jpg" alt=""><strong class="category-item-title">Shoes</strong></a>
        <a class="category-item" href="shop.html"><img class="img-fluid" src="assets\images\cat-img-3.jpg" alt=""><strong class="category-item-title">Watches</strong></a></div>
      <div class="col-md-4"><a class="category-item" href="shop.html"><img class="img-fluid" src="assets\images\cat-img-4.jpg" alt=""><strong class="category-item-title">Electronics</strong></a></div>
    </div>
</div>
<!--
   Top trending products
-->

<div class="container py-5">
    <header>
      <p class="small text-muted small text-uppercase mb-1">Made the hard way</p>
      <h2 class="h5 text-uppercase mb-4">Top trending products</h2>
    </header>
    <div class="row">
      <!-- PRODUCT-->
      <div class="col-xl-3 col-lg-4 col-sm-6">
        <div class="product text-center">
          <div class="position-relative mb-3">
            <div class="badge text-white badge-"></div><a class="d-block"><img class="img-fluid w-100" src="assets\images\product-1.jpg" alt="..."></a>
            <div class="product-overlay">
              <ul class="mb-0 list-inline">
                <li class="list-inline-item m-0 p-0"><a class="btn btn-sm btn-outline-dark" href="#"><i class="far fa-heart"></i></a></li>
                <li class="list-inline-item m-0 p-0"><a class="btn btn-sm btn-dark" href="cart.html">Add to cart</a></li>
                <li class="list-inline-item mr-0"><a class="btn btn-sm btn-outline-dark" href="#productView" data-toggle="modal"><i class="fas fa-expand"></i></a></li>
              </ul>
            </div>
          </div>
          <h6> <a class="reset-anchor" >Kui Ye Chen’s AirPods</a></h6>
          <p class="small text-muted">250</p>
        </div>
      </div>
      <!-- PRODUCT-->
      <div class="col-xl-3 col-lg-4 col-sm-6">
        <div class="product text-center">
          <div class="position-relative mb-3">
            <div class="badge text-white badge-primary">Sale</div><a class="d-block"  [routerLink]="['/productview']"><img class="img-fluid w-100" src="assets\images\product-2.jpg" alt="..."></a>
            <div class="product-overlay">
              <ul class="mb-0 list-inline">
                <li class="list-inline-item m-0 p-0"><a class="btn btn-sm btn-outline-dark" href="#"><i class="far fa-heart"></i></a></li>
                <li class="list-inline-item m-0 p-0"><a class="btn btn-sm btn-dark" href="cart.html">Add to cart</a></li>
                <li class="list-inline-item mr-0"><a class="btn btn-sm btn-outline-dark" href="#productView" data-toggle="modal"><i class="fas fa-expand"></i></a></li>
              </ul>
            </div>
          </div>
          <h6> <a class="reset-anchor"  [routerLink]="['/productview']">Air Jordan 12 gym red</a></h6>
          <p class="small text-muted">300</p>
        </div>
      </div>
      <!-- PRODUCT-->
      <div class="col-xl-3 col-lg-4 col-sm-6">
        <div class="product text-center">
          <div class="position-relative mb-3">
            <div class="badge text-white badge-"></div><a class="d-block"  [routerLink]="['/productview']"><img class="img-fluid w-100" src="assets\images\product-3.jpg" alt="..."></a>
            <div class="product-overlay">
              <ul class="mb-0 list-inline">
                <li class="list-inline-item m-0 p-0"><a class="btn btn-sm btn-outline-dark" href="#"><i class="far fa-heart"></i></a></li>
                <li class="list-inline-item m-0 p-0"><a class="btn btn-sm btn-dark" href="cart.html">Add to cart</a></li>
                <li class="list-inline-item mr-0"><a class="btn btn-sm btn-outline-dark" href="#productView" data-toggle="modal"><i class="fas fa-expand"></i></a></li>
              </ul>
            </div>
          </div>
          <h6> <a class="reset-anchor"  [routerLink]="['/productview']">Cyan cotton t-shirt</a></h6>
          <p class="small text-muted">25</p>
        </div>
      </div>
      <!-- PRODUCT-->
      <div class="col-xl-3 col-lg-4 col-sm-6">
        <div class="product text-center">
          <div class="position-relative mb-3">
            <div class="badge text-white badge-info">New</div><a class="d-block"  [routerLink]="['/productview']"><img class="img-fluid w-100" src="assets\images\product-4.jpg" alt="..."></a>
            <div class="product-overlay">
              <ul class="mb-0 list-inline">
                <li class="list-inline-item m-0 p-0"><a class="btn btn-sm btn-outline-dark" href="#"><i class="far fa-heart"></i></a></li>
                <li class="list-inline-item m-0 p-0"><a class="btn btn-sm btn-dark" href="cart.html">Add to cart</a></li>
                <li class="list-inline-item mr-0"><a class="btn btn-sm btn-outline-dark" href="#productView" data-toggle="modal"><i class="fas fa-expand"></i></a></li>
              </ul>
            </div>
          </div>
          <h6> <a class="reset-anchor"  [routerLink]="['/productview']">Timex Unisex Originals</a></h6>
          <p class="small text-muted">351</p>
        </div>
      </div>
      <!-- PRODUCT-->
      <div class="col-xl-3 col-lg-4 col-sm-6">
        <div class="product text-center">
          <div class="position-relative mb-3">
            <div class="badge text-white badge-danger">Sold</div><a class="d-block"  [routerLink]="['/productview']"><img class="img-fluid w-100" src="assets\images\product-5.jpg" alt="..."></a>
            <div class="product-overlay">
              <ul class="mb-0 list-inline">
                <li class="list-inline-item m-0 p-0"><a class="btn btn-sm btn-outline-dark" href="#"><i class="far fa-heart"></i></a></li>
                <li class="list-inline-item m-0 p-0"><a class="btn btn-sm btn-dark" href="cart.html">Add to cart</a></li>
                <li class="list-inline-item mr-0"><a class="btn btn-sm btn-outline-dark" href="#productView" data-toggle="modal"><i class="fas fa-expand"></i></a></li>
              </ul>
            </div>
          </div>
          <h6> <a class="reset-anchor"  [routerLink]="['/productview']">Red digital smartwatch</a></h6>
          <p class="small text-muted">250</p>
        </div>
      </div>
      <!-- PRODUCT-->
      <div class="col-xl-3 col-lg-4 col-sm-6">
        <div class="product text-center">
          <div class="position-relative mb-3">
            <div class="badge text-white badge-"></div><a class="d-block"  [routerLink]="['/productview']"><img class="img-fluid w-100" src="assets\images\product-6.jpg" alt="..."></a>
            <div class="product-overlay">
              <ul class="mb-0 list-inline">
                <li class="list-inline-item m-0 p-0"><a class="btn btn-sm btn-outline-dark" href="#"><i class="far fa-heart"></i></a></li>
                <li class="list-inline-item m-0 p-0"><a class="btn btn-sm btn-dark" href="cart.html">Add to cart</a></li>
                <li class="list-inline-item mr-0"><a class="btn btn-sm btn-outline-dark" href="#productView" data-toggle="modal"><i class="fas fa-expand"></i></a></li>
              </ul>
            </div>
          </div>
          <h6> <a class="reset-anchor"  [routerLink]="['/productview']">Nike air max 95</a></h6>
          <p class="small text-muted">300</p>
        </div>
      </div>
      <!-- PRODUCT-->
      <div class="col-xl-3 col-lg-4 col-sm-6">
        <div class="product text-center">
          <div class="position-relative mb-3">
            <div class="badge text-white badge-"></div><a class="d-block"  [routerLink]="['/productview']"><img class="img-fluid w-100" src="assets\images\product-7.jpg" alt="..."></a>
            <div class="product-overlay">
              <ul class="mb-0 list-inline">
                <li class="list-inline-item m-0 p-0"><a class="btn btn-sm btn-outline-dark" href="#"><i class="far fa-heart"></i></a></li>
                <li class="list-inline-item m-0 p-0"><a class="btn btn-sm btn-dark" href="cart.html">Add to cart</a></li>
                <li class="list-inline-item mr-0"><a class="btn btn-sm btn-outline-dark" href="#productView" data-toggle="modal"><i class="fas fa-expand"></i></a></li>
              </ul>
            </div>
          </div>
          <h6> <a class="reset-anchor"  [routerLink]="['/productview']"> Women prefume</a></h6>
          <p class="small text-muted">25</p>
        </div>
      </div>
      <!-- PRODUCT-->
      <div class="col-xl-3 col-lg-4 col-sm-6">
        <div class="product text-center">
          <div class="position-relative mb-3">
            <div class="badge text-white badge-"></div><a class="d-block"  [routerLink]="['/productview']"><img class="img-fluid w-100" src="assets\images\product-8.jpg" alt="..."></a>
            <div class="product-overlay">
              <ul class="mb-0 list-inline">
                <li class="list-inline-item m-0 p-0"><a class="btn btn-sm btn-outline-dark" href="#"><i class="far fa-heart"></i></a></li>
                <li class="list-inline-item m-0 p-0"><a class="btn btn-sm btn-dark" href="cart.html">Add to cart</a></li>
                <li class="list-inline-item mr-0"><a class="btn btn-sm btn-outline-dark" href="#productView" data-toggle="modal"><i class="fas fa-expand"></i></a></li>
              </ul>
            </div>
          </div>
          <h6> <a class="reset-anchor"  [routerLink]="['/productview']">Apple Watch</a></h6>
          <p class="small text-muted">351</p>
        </div>
      </div>
    </div>
</div>
<app-footbar></app-footbar>