<app-navbar [cartNumber]="cartItems"></app-navbar>
<div class="p">
    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide> 
         <div class="container-fluid bannerc">
             <section class="hero hero1 pb-3 bg-cover bg-center d-flex align-items-center">
                 <div class="container py-5">
                   <div class="row px-4 px-lg-5">
                     <div class="col-lg-6">
                       <p class="text-muted small text-uppercase mb-2">New Inspiration 2020</p>
                       <h1 class="h2 text-uppercase mb-3">20% off on new season</h1><a class="btn btn-dark" href="/products">Browse collections</a>
                     </div>
                   </div>
                 </div>
               </section>
            </div>
 
            </ng-template>  
        <ng-template carouselSlide>
            <div class="container-fluid bannerc">
             <section class="hero hero2 pb-3 bg-cover bg-center d-flex align-items-center">
                 <div class="container py-5">
                   <div class="row px-4 px-lg-5">
                     <div class="col-lg-4">
                       <p class="text-muted small text-uppercase mb-2">New Inspiration 2020</p>
                       <h1 class="h2 text-uppercase mb-3">20% off on new season</h1><a class="btn btn-dark" href="/products">Browse collections</a>
                     </div>
                   </div>
                 </div>
               </section>
            </div>
        </ng-template>   
      </owl-carousel-o> 
      
</div>




<!--
    Browse our categories
-->
<div class="container pt-5">
    <header class="text-center">
      <p class="small text-muted small text-uppercase mb-1">Carefully created collections</p>
      <h2 class="h5 text-uppercase mb-4">Browse our categories</h2>
    </header>
    <div class="row">
      <div class="col-md-4 col-sm-6 mb-4 mb-md-0"><a class="category-item" href="shop.html"><img class="img-fluid" src="assets\images\cat-img-1.jpg" alt=""><strong class="category-item-title">Clothes</strong></a></div>
      <div class="col-md-4 col-sm-6 mb-4 mb-md-0"><a class="category-item mb-4" href="shop.html"><img class="img-fluid" src="assets\images\cat-img-2.jpg" alt=""><strong class="category-item-title">Shoes</strong></a>
        <a class="category-item largeclass" href="shop.html"><img class="img-fluid" src="assets\images\cat-img-3.jpg" alt=""><strong class="category-item-title">Watches</strong></a></div>
      <div class="col-md-4 col-sm-6"><a class="category-item" href="shop.html"><img class="img-fluid" src="assets\images\cat-img-4.jpg" alt=""><strong class="category-item-title">Electronics</strong></a></div>
    </div>
</div>
<!--
   Top trending products
-->


<div class="container">
  <h3 class="h3 text-uppercase" style="margin: 5%;">Our Trending products</h3>
  <div class="row">
      <div *ngFor="let trendproduct of trendproductList"class="col-lg-3 col-md-4 col-sm-6">
          <div class="product-grid7">
              <div class="product-image7">
                  <a href="#">
                      <img class="pic-1" src="{{ trendproduct.productImg1 }}">
                      <img class="pic-2" src="{{ trendproduct.productImg2 }}">
                  </a>
                  <ul class="social">
                      <li><a href="" class="fa fa-search"></a></li>
                      <li><a href="" class="far fa-heart"></a></li>
                      <li><a  (click) = "addcart()" class="fa fa-shopping-cart"></a></li>
                  </ul>
                  <span class="product-new-label">{{trendproduct.productlabel}}</span>
              </div>
              <div class="product-content">
                  <h3 class="title"><a href="#"> {{trendproduct.productName}}</a></h3>
                  <ul class="rating">
                      <li class="fa fa-star"></li>
                      <li class="fa fa-star"></li>
                      <li class="fa fa-star"></li>
                      <li class="fa fa-star"></li>
                      <li class="fa fa-star"></li>
                  </ul>
                  <div class="price">{{trendproduct.productPrice}}
                      <span>{{trendproduct.strickPrice}}</span>
                  </div>
              </div>
          </div>
      </div>  
  </div>
</div>

<app-footbar></app-footbar>